<configuration>
  <appSettings>
    <add key="DatasetPath" value="datasets/home_office_airpi.csv" />
    <add key="RowsToSend" value="100" />
    <add key="SessionId" value="session1" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="tcpBindingClient"
                 transferMode="Streamed"
                 maxReceivedMessageSize="6553600">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:9000/SensorService"
                binding="netTcpBinding"
                bindingConfiguration="tcpBindingClient"
                contract="Common.ISensorService"
                name="SensorServiceEndpoint" />
    </client>
  </system.serviceModel>
</configuration>
