<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StorageRoot" value="ServerStorage" />
    <add key="C0_threshold" value="0.5" />
    <add key="N02_threshold" value="0.5" />
    <add key="P_threshold" value="2.0" />
    <add key="PercentDeviation" value="25" />
  </appSettings>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="streamedTcp"
                 transferMode="Buffered"
                 maxReceivedMessageSize="6553600"
                 maxBufferSize="6553600"
                 maxBufferPoolSize="524288"
                 receiveTimeout="00:10:00"
                 sendTimeout="00:01:00"
                 openTimeout="00:00:30"
                 closeTimeout="00:00:30">
          <readerQuotas maxDepth="32"
                        maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" />
        </binding>
      </netTcpBinding>
    </bindings>

    <services>
      <!-- name treba da bude potpuno kvalifikovano ime klase (namespace + class) -->
      <service name="Service.SensorService" behaviorConfiguration="serviceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9000/SensorService" />
          </baseAddresses>
        </host>

        <!-- glavni endpoint -->
        <endpoint address=""
                  binding="netTcpBinding"
                  bindingConfiguration="streamedTcp"
                  contract="Common.ISensorService" />

        <!-- opciono: metadata endpoint za lakše debugovanje/Generisanje proxy-a -->
        <endpoint address="mex"
                  binding="mexTcpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <!-- metadata on/off -->
          <serviceMetadata httpGetEnabled="false" />
          <!-- u razvoju mozete staviti true da dobijete detalje gresaka u fault-ovima -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>
