<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="StorageRoot" value="ServerStorage" />
		<add key="C0_threshold" value="0.5" />
		<add key="N02_threshold" value="0.5" />
		<add key="P_threshold" value="2.0" />
		<add key="PercentDeviation" value="25" />
	</appSettings>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="streamedTcp"
						 transferMode="Buffered"
						 maxReceivedMessageSize="6553600"
						 receiveTimeout="00:10:00"
						 sendTimeout="00:01:00"
						 openTimeout="00:00:30"
						 closeTimeout="00:00:30">
					<readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" />
				</binding>
			</netTcpBinding>
		</bindings>
		<services>
			<service name="Service.SensorService">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:9000/SensorService" />
					</baseAddresses>
				</host>
				<endpoint address=""
						  binding="netTcpBinding"
						  bindingConfiguration="streamedTcp"
						  contract="Common.ISensorService" />
				<behaviorConfiguration="serviceBehavior"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="serviceBehavior">
					<serviceMetadata httpGetEnabled="false" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
		<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>